@import "../../sass/variables_custom";

#button-toggle{
    border-color:$warning;
    border-width:2px;
    img{
        color:$warning;
        width:25px;
    }
}
.input-group{
    margin-left:1rem;
    border-width:2px;
    .inputsearch{
        background:$dark;
        color:$warning;
        border-color:$warning;
    }
    .inputsearch::placeholder{
        color:$warning;
    }
}
#home{
    display:none
}
#navbarNav{
    justify-content: flex-end;
    .navbar-nav{ 
        align-self: flex-end; 

        .nav-item{
            align-self:center;            
            a{
                color:$warning;
                text-decoration:none;
                padding:0;
                margin-right:1rem;
            }
            button{
                margin-right:1rem;
                border:none;
                padding:0;
                background:$dark;
                img{
                    width:35px;
                }
                span{
                    display:none;    
                }
            }
        }  
        
    }
}


@media only screen and (max-width: 990px)  {
    #login,#logout{
        display:none;
    }
    #home{
        display:block;
        color:$warning;
    }
    #button-toggle{
        margin-right:1rem;
    }
    .container-fluid{
        justify-content: space-between;
        #logo{
            display:none;
        }
        form{
            display:flex;
            justify-content: center;
            margin:0;
        }
        #navbarNav{
            justify-content: flex-end;
            .navbar-nav{  
                .nav-item{ 
                    color:$warning; 
                    display:flex;
                    width:100%;
                    justify-content: end;
                    padding-top:0.3rem;                                
                    button{    
                        color:$warning; 
                        margin-right:1rem;
                        span{
                            display:block;
                        }
                    }
                    a{
                        margin-right:1rem;
                    }
                    img:last-of-type{
                        margin-right:1rem;
                        padding-right:0;
                    }  
                    
                }   
            }
        }
        
    }
   
}