<nav class="navbar navbar-expand-lg bg-dark bg-gradient pt-0 pb-0">
    <div class="container-fluid ps-3 pe-3">
      <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <a routerLink="/movies"><img src="../../assets/icons/logo.svg" alt="Logo" /></a>
        <form [formGroup]="myGroup" class="ms-4 mt-2 mb-2">
          <div class="input-group" [ngStyle]="newNav ? {'justify-content':'end'} : {'justify-content':'center'}">
            <input
              class="form-control inputsearch"
              placeholder="{{ 'SEARCH_MOVIE' | translate }}"
              formControlName="title"
              [ngStyle]="newNav ? {'display':'block'} : {'display':'none'}"

            />
            <span class="input-group-text" id="basic-addon1"
              ><img
                *ngIf="displayIconSearch"
                id="img-search"
                (click)="displaySmall()"
                src="../../assets/icons/icon_magnify.svg"
                alt="{{ 'ICON_SEARCH' | translate }}"
                
            />
            <img
                *ngIf="displayIconClose"
                id="img-search"
                (click)="displaySmall()"
                src="../assets/icons/X_icon .svg"
                alt="{{ 'ICON_CLOSE' | translate }}"
            />
          </span>
          </div>
        </form>
        <div *ngIf="displayItem" class="restNavbar d-flex justify-content-end">
          <a *ngIf="authentication == 'admin'" routerLink="/dashboard" class="d-flex align-items-center me-3"> <span>Dashboard</span></a>
          <button *ngIf="authentication == 'none'" class="me-3" type="button" (click)="openModal(template)"><img src="../../../assets/icons/icon-login.png" alt="icon login"></button> 
          <button *ngIf="authentication == 'admin'" class="me-3" (click) = "unsubscribe()" type="button"><img src="../../../assets/icons/logout.png"></button>     
          <img
            src="../assets/icons/flag_fr.svg"
            class="p-1"
            [ngStyle]="{'opacity':opacityFr}"
            (click)="chooseLanguage(langFr)"
            alt="{{ 'ICON_FRANCE' | translate }}"
          />
          <img
            src="../assets/icons/flag_usa.svg"
            class="p-1"
            [ngStyle]="{'opacity':opacityUs}"
            (click)="chooseLanguage(langUs)"
            alt="{{ 'ICON_USA' | translate }}"
          />
        </div>
      </div>
    </div>
  </nav> 
  <ng-template #template>
  <app-login [modalData]="modalRef"></app-login>
  </ng-template> 
  
