<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a id = "logo" routerLink="/movies"><img src="../../assets/icons/logo.svg" alt="Logo" /></a>
    <form [formGroup]="myGroup" class="mt-2 mb-2">
      <div class="input-group">
        <input
          class="form-control inputsearch"
          placeholder="{{ 'SEARCH_MOVIE' | translate }}"
          formControlName="title"

        />
      </div>
    </form>
    <button id="button-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../assets/icons/hamburger.png" alt="icon hamburger for menu">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="home" routerLink="/movies">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authentication == 'admin'" routerLink="/dashboard" class="d-flex align-items-center"> <span>Dashboard</span></a>
        </li>
        <li class="nav-item">
          <button *ngIf="authentication == 'none'" type="button" (click)="openModal(template)"><img id="login" src="../../../assets/icons/icon-login.png" alt="icon login"><span>Login</span></button>         
        </li>
        <li class="nav-item">
          <button *ngIf="authentication == 'admin'" (click) = "unsubscribe()" type="button"><img id="logout" src="../../../assets/icons/logout.png"><span>Logout</span></button>    
        </li>
        <li class="nav-item">
          <img
          src="../assets/icons/flag_fr.svg"
          class="p-1"
          [ngStyle]="{'opacity':opacityFr}"
          (click)="chooseLanguage(langFr)"
          alt="{{ 'ICON_FRANCE' | translate }}"
          />
          <img
          src="../assets/icons/flag_usa.svg"
          class="p-1"
          [ngStyle]="{'opacity':opacityUs}"
          (click)="chooseLanguage(langUs)"
          alt="{{ 'ICON_USA' | translate }}"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
  <ng-template #template>
  <app-login [modalData]="modalRef"></app-login>
  </ng-template> 
  
